body{
    
    text-align: center;
    background-image: url("B.jpg");
}
#head{
    color:#000;
    background-color:#ffff00;
    width: 300px;
    display: inline-block;
    padding: 0 auto;
    margin: 0 auto;
    color: royalblue;
    
}

h1 {
    color:#000;
    background-color: #fff;
    width: 80px;
    
    box-sizing: border-box;
    display: inline-block;
}
button{
    width: 120px;
    height: 50px;
    background-color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: bold;
}
/* h1 #hour{
    padding-right: -50px;
    margin-right: -50px;

} */
/* #min,#sec,#milseconds{
    padding-left: 0;
    margin-left: 0;
} */
.container{
    background-color: palegoldenrod;
    border: #e6ac00	 1px solid;
    height: 250px;
    width: 30em;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 12px;
    /* display: grid; */
     display: flex-box; 
}
.time{
    margin: 30px;
    padding: -40px;
    background-color: #f78a8a;
    border: #E0E0E0 1px solid;
    border-radius: 12px;
    width: 25em;
}
button{
    background-color:#18FFFF;
    border-radius: 12px;
    border: #18FFFF solid 1px;
    font-size: 30px;
    text-decoration: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #00BCD4;
    

}
button:hover{
    background-color:#F8BBD0;
    border: #B2FF59 1px solid;
    
    
    /* font-size: 30px;
    text-decoration: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #00BCD4; */
}
button:focus{
    border: solid 1px #B2FF59 ;
    background-color: #B2FF59;

}
.time h1{
    background-color: aquamarine;
    color: blue;
    border: solid 1px aquamarine;

}
.heading{
    background-color: #ffff00;
    width: 30em;
    margin: 0 auto;
    border: #ffff00 solid 1px;
    margin-top:50px;    
    /* padding-bottom: 10px; */
    padding: 10px;
    margin-bottom: 10px;
    
}