/* body{
  } */

#TR{
    background-color: cyan;
    border-radius: 30px;
    border: blueviolet 1px dashed;
}


#we{
    background-color: greenyellow;
    color: deepskyblue;
    border-radius: 30px;
    border: 1px wheat dashed;
}

h1{
    background-color: aqua;
    color: darkorchid;
}



h1 >b{
    color: orange;
}



p{
    border: 2px  solid blueviolet;
    background-color: rgb(26, 14, 6);
    height: 50px;
    font-size: 30px;
    padding-top: 20px;
    color: cyan; 
    border-radius: 30px;
    text-decoration: none;
}
a{
    color:gold; 
    
    
    
    text-decoration: underline dashed white; 
    
}
ol{
    background-image: url("images.jpg");

}


ol li{
    font-family: 'Times New Roman', Times, serif;
    color:wheat;
    font-size: 25px;
}
 