/* img{
    width: 150px;
    height: 150px;
} */
/* #sub:focus{
    border:gold 1px solid ;
    box-shadow: 3px 3px 3px honeydew;
    
     }
  */
  /* img{
    width: 250px;
    height: 250px;
    cursor: pointer;
}
.body{
    margin: 0 auto;
}
#images{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}
.modal{
    display: none;
} */
/* #modalimg{
    width: 500px;
    height: 500px;
} */
.bor{
    border: 2px solid black;
}
tr{
    border: 1px solid black;
    text-align: center;
}
