body{
    padding-top: 0px;
    padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 0px;



}
.todo-inner {
    width: 60%;
   /* height: 130px; */
    padding: 50px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    margin-left: 190px;
    box-shadow: 0px 0px 10px #c1c1c1;
    background:transparent ;
}
ol li button{
    background: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
     
}
ol li {
    background-color: gainsboro;
    width: 100%;
    border-top: 10px solid #0000ff;
    
    
}
